/* Your CSS styles here */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    padding-top: 30px;
    color: #333;
  }
  
  #message-container {
    display: flex;
    gap: 15px;
    margin-bottom: 500px;
  }
  
  .panel-container {
    flex: 1;
  }
  
  #message-list {
    /* Set width to 50vw (50% of the viewport width) to take half of the screen width */
    width: 50vw;
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  
  #message-detail {
    /* Set width to 50vw (50% of the viewport width) to take half of the screen width */
    width: 50vw;
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    white-space: pre-wrap;
  }
  
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .message-row {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    animation: slide-in 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .panel-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .debug {
    color: #333;
  }
  
  .error {
    color: red;
  }
  
  .timestamp {
    margin-right: 5px;
    font-weight: bold;
    color: #666;
  }
  
  .timestamp.debug {
    color: #333;
  }
  
  .timestamp.error {
    color: red;
  }
  
  .message-row.active {
    background-color: #00b4d8;
    color: #fff;
  }
  
  input[type="text"] {
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  input[type="text"]:focus {
    box-shadow: 0 0 5px #00b4d8;
  }
  